body {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.cards img {
  margin: 10px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px 0px;
  max-width: 250px;
}
